<%= form_with model: @spice, local: true do |f|%>
  <div class="field">
    <%= f.label :item_name, "アイテムの名前" %><br />
    <%= f.text_field :item_name, id:"item_name" %>
  </div>

  <div class="field">
    <%= f.label :limit, "賞味期限" %><br />
    <%= f.text_area :limit, class: :form__text, id:"limit" %>
  </div>

  <div class="field">
    <%= f.label :memo, "メモ" %><br />
    <%= f.text_area :memo, class: :form__text, id:"memo" %>
  </div>

  <div class="field">
    <%= f.label :image, "アイテムの画像" %><br />
    <%= f.file_field :image, id:"spice_image" %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>